<%- include("partials/header") -%>
<h1>
    About Us...
</h1>
<p>
    This is a journal page where you can enter your daily routine. We don't track any information that you write, we are
    informing you that because we want out clients to feel safe about their data.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet repellendus quas facere maiores harum neque, fugiat
    voluptas molestiae blanditiis consequuntur optio praesentium dolorem recusandae, nulla alias beatae sapiente enim
    repudiandae aperiam. Exercitationem possimus quia iure repudiandae cum culpa recusandae numquam maxime, eligendi
    fuga fugiat vel commodi suscipit necessitatibus blanditiis. Vero dignissimos excepturi quod optio laborum
    perferendis assumenda, eaque doloribus debitis adipisci praesentium, nihil nulla quisquam quas officia sunt cum,
    tenetur quaerat. Quidem consequatur sit ratione cum commodi rem voluptas error animi, accusantium quis ipsam?
    Praesentium, iure. Aspernatur reprehenderit minus quis et facilis neque cum commodi fugit, laboriosam delectus
    facere sapiente.
</p>
<%- include("partials/footer") -%>