<%- include("partials/header") -%>
<div style="padding: 1rem 3rem;">
    <h1 style="color: aliceblue;"><%= title %> </h1>
    <p style="color: aliceblue;"><%= content %> </p>
</div>
<%- include("partials/footer") -%>